.class{background-image: url(url);}
.l80{background-image: url(http://i.imgur.com/bRW9k4k.png);}
.l90{background-image: url(http://i.imgur.com/kbpT7Vi.png);}
.l100{background-image: url(http://i.imgur.com/4gCTjku.png);}
.r0{background-image: url(http://i.imgur.com/Bm6ugP2.png);}
.r4{background-image: url(http://i.imgur.com/f2Ig3o6.png);}
.r5{background-image: url(http://i.imgur.com/gOubEpd.png);}
.def{background-image: url(http://i.imgur.com/v3hTIjo.png);}
.buff{background-image: url(https://i.imgur.com/PXAhqLM.png);}
.debuff{background-image: url(http://i.imgur.com/P0UVMea.png);}
.weak{background-image: url(http://i.imgur.com/L0WpjeD.png);}
.resist{background-image: url(http://i.imgur.com/f4kAMqa.png);}
.rweak{background-image: url(http://i.imgur.com/bw1hK1o.png);}
.limit{background-image: url(http://i.imgur.com/XnZvoO6.png);}
.etcmod{background-image: url(http://i.imgur.com/Iz2N7nM.png);}
.trophy{background-image: url(http://i.imgur.com/b0spCZM.png);}
.racc{background-image: url(http://i.imgur.com/GpErJgq.png);}
.filter_icon{background-image: url(http://i.imgur.com/0nfC5P7.png);}
.preset{background-image: url(http://i.imgur.com/TX6cNRz.png);}
.sort{background-image: url(http://i.imgur.com/l6ikAlR.png);}
.config{background-image: url(http://i.imgur.com/sc0dCJ9.png);}
.wallpaper{background-image: url(http://i.imgur.com/fkCgtFF.png);}
.help_icon{background-image: url(http://i.imgur.com/u1gaJ4T.png);}
.app{background-image: url(http://i.imgur.com/GJbG54X.gif);}
.theme{background-image: url(http://i.imgur.com/zzcv9wm.png);}
.theme_color{background-image: url(http://i.imgur.com/AYeJa0k.png);}
.theme_body{background-image: url(http://i.imgur.com/fkGHJrq.png);}
.theme_head{background-image: url(http://i.imgur.com/7pEsQBC.png);}
.theme_highlight{background-image: url(http://i.imgur.com/9KdWSFY.png);}
.combo{background-image: url(http://i.imgur.com/gMzuUdN.png);}
.dark{background-image: url(http://i.imgur.com/FecFGq7.png);}
.fire{background-image: url(http://i.imgur.com/qQRVzNa.png);}
.light{background-image: url(http://i.imgur.com/m52UhR7.png);}
.water{background-image: url(http://i.imgur.com/nHjnuId.png);}
.earth{background-image: url(http://i.imgur.com/u10BzwN.png);}
.wind{background-image: url(http://i.imgur.com/AtNALOz.png);}
.none{background-image: url(http://i.imgur.com/3z0ULiQ.png);}
.bow{background-image: url(http://i.imgur.com/4uzhWm9.png);}
.rapier{background-image: url(http://i.imgur.com/HYkeIu2.png);}
.gun{background-image: url(http://i.imgur.com/dFebpL3.png);}
.staff{background-image: url(http://i.imgur.com/vFtEuWS.png);}
.dual{background-image: url(http://i.imgur.com/0RV9euM.png);}
.dagger{background-image: url(http://i.imgur.com/CI3dNJT.png);}
.sword{background-image: url(http://i.imgur.com/NLgXtym.png);}
.mace{background-image: url(http://i.imgur.com/inIP7wj.png);}
.lance{background-image: url(http://i.imgur.com/e9V3gSu.png);}
.shield{background-image: url(http://i.imgur.com/dxu4LY9.png);}
.ge16{background-image: url(https://i.imgur.com/mwXql9e.png);}
.gnw{background-image: url(https://i.imgur.com/jmLQc9F.png);}
.gg16{background-image: url(https://i.imgur.com/vqlokkj.png);}
.gsao{background-image: url(https://i.imgur.com/GmugHjR.png);}
.galo{background-image: url(https://i.imgur.com/SxfINJP.png);}
.gwind{background-image: url(https://i.imgur.com/yhidtSr.png);}
.ghw{background-image: url(https://i.imgur.com/x5ebuAH.png);}
.gearth{background-image: url(https://i.imgur.com/DjWdMIm.png);}
.gfire{background-image: url(https://i.imgur.com/iyZI2ei.png);}
.gxmas{background-image: url(https://i.imgur.com/Yt2wMNc.png);}
.gny{background-image: url(https://i.imgur.com/hgn6cTs.png);}
.ge17{background-image: url(https://i.imgur.com/mwXql9e.png);}
.gsd{background-image: url(https://i.imgur.com/3A7D34v.png);}
.gg17{background-image: url(https://i.imgur.com/vqlokkj.png);}
.gwater{background-image: url(https://i.imgur.com/0Y6jzre.png);}
.gval{background-image: url(https://i.imgur.com/nHiEqXg.png);}
.goni{background-image: url(https://i.imgur.com/LQwlG6k.png);}
.ghr{background-image: url(https://i.imgur.com/WwfutRc.png);}
.ghrsc{background-image: url(https://i.imgur.com/tIG9ZMD.png);}
.gos{background-image: url(https://i.imgur.com/oTus5Zl.png);}
.gcheer{background-image: url(https://i.imgur.com/U0l11a6.png);}
.ghina{background-image: url(https://i.imgur.com/PkgKLIo.png);}
.ga{background-image: url(http://i.imgur.com/9hQci7T.png);}
.gninja{background-image: url(https://i.imgur.com/P8pWgmZ.png);}
.gps{background-image: url(https://i.imgur.com/RDwFCt4.png);}
.gsakura{background-image: url(https://i.imgur.com/khD8MtA.png);}
.gprincess{background-image: url(https://i.imgur.com/t7ha8DN.png);}
.gmaid{background-image: url(https://i.imgur.com/K9lWnrp.png);}
.gb{background-image: url(http://i.imgur.com/eGIcxuf.png);}
.gpwater{background-image: url(https://i.imgur.com/SpFYhRw.png);}
.gzodiac{background-image: url(https://i.imgur.com/2ZWvzvW.png);}
.gbride{background-image: url(https://i.imgur.com/gSA4p4a.png);}
.gos2{background-image: url(https://i.imgur.com/whsNb1T.png);}
.gcosplay{background-image: url(https://i.imgur.com/yzHoMuK.png);}
.grainy{background-image: url(https://i.imgur.com/Vy8I40h.png);}
.gswim{background-image: url(https://i.imgur.com/7wEuIt3.png);}
.gpns{background-image: url(https://i.imgur.com/ngZoOJh.png);}
.gyukata{background-image: url(http://i.imgur.com/ZVpBL72.png);}
.gsummer{background-image: url(http://i.imgur.com/CTEND0f.png);}
.gfesta{background-image: url(http://i.imgur.com/HFAMTVt.png);}
.gjr{background-image: url(http://i.imgur.com/5C5zri8.png);}
.gbonds{background-image: url(http://i.imgur.com/fBW6Mr7.png);}
.gcm{background-image: url(http://i.imgur.com/salTQ4A.png);}
.gbondsr{background-image: url(https://i.imgur.com/A9PtpMR.png);}
.gc{background-image: url(http://i.imgur.com/PWaFyDq.png);}
.gfriends{background-image: url(https://i.imgur.com/IRBVaaJ.png);}