.l80{background-image: url(../icons/l80.png);}
.l90{background-image: url(../icons/l90.png);}
.l100{background-image: url(../icons/l100.png);}
.r0{background-image: url(../icons/r0.png);}
.r4{background-image: url(../icons/r4.png);}
.r5{background-image: url(../icons/r5.png);}
.s4{background-image: url(../icons/s4.png);}
.s5{background-image: url(../icons/s5.png);}
.s6{background-image: url(../icons/s6.png);}
.s6xs{background-image: url(../icons/s6xs.png);}
.def{background-image: url(../icons/def.png);}
.buff{background-image: url(../icons/buff.png);}
.cbuff{background-image: url(../icons/cbuff.png);}
.gcrit{background-image: url(../icons/gcrit.png);}
.debuff{background-image: url(../icons/debuff.png);}
.weak{background-image: url(../icons/weak.png);}
.resist{background-image: url(../icons/resist.png);}
.rweak{background-image: url(../icons/rweak.png);}
.limit{background-image: url(../icons/limit.png);}
.etcmod{background-image: url(../icons/etcmod.png);}
.trophy{background-image: url(../icons/trophy.png);}
.ls{background-image: url(../icons/ls.png);}
.guard{background-image: url(../icons/guard.png);}
.scale{background-image: url(../icons/scale_realtime.png);}
#scale:checked+label{background-image: url(../icons/scale_ingame.png);}
.racc{background-image: url(../icons/racc.png);}
.elem_mod{background-image: url(../icons/elem_mod.png);}
.elem_bs{background-image: url(../icons/elem_bs.png);}
.filter_icon{background-image: url(../icons/filter_icon.png);}
.preset{background-image: url(../icons/preset.png);}
.sort{background-image: url(../icons/sort.png);}
.config{background-image: url(../icons/config.png);}
.wallpaper{background-image: url(../icons/wallpaper.png);}
.help_icon{background-image: url(../icons/help_icon.png);}
.theme{background-image: url(../icons/theme.png);}
.theme_color{background-image: url(../icons/theme_color.png);}
.theme_body{background-image: url(../icons/theme_body.png);}
.theme_head{background-image: url(../icons/theme_head.png);}
.theme_highlight{background-image: url(../icons/theme_highlight.png);}
.info{background-image: url(../icons/info_icon.png);}
.combo{background-image: url(../icons/combo.png);}
.element{background-image: url(../icons/element.png);}
.subelement{background-image: url(../icons/subelement.png);}
.exelement{background-image: url(../icons/exelement.png);}
.na{background-image: url(../icons/na.png);}
.dark{background-image: url(../icons/dark.png);}
.fire{background-image: url(../icons/fire.png);}
.light{background-image: url(../icons/light.png);}
.water{background-image: url(../icons/water.png);}
.earth{background-image: url(../icons/earth.png);}
.wind{background-image: url(../icons/wind.png);}
.none{background-image: url(../icons/none.png);}
.bow{background-image: url(../icons/bow.png);}
.rapier{background-image: url(../icons/rapier.png);}
.gun{background-image: url(../icons/gun.png);}
.staff{background-image: url(../icons/staff.png);}
.dual{background-image: url(../icons/dual.png);}
.dagger{background-image: url(../icons/dagger.png);}
.sword{background-image: url(../icons/sword.png);}
.mace{background-image: url(../icons/mace.png);}
.lance{background-image: url(../icons/lance.png);}
.shield{background-image: url(../icons/shield.png);}
.rifle{background-image: url(../icons/rifle.png);}
.slash{background-image: url(../icons/slash.png);}
.pierce{background-image: url(../icons/pierce.png);}
.blunt{background-image: url(../icons/blunt.png);}
.magic{background-image: url(../icons/magic.png);}
.melee{background-image: url(../icons/melee.png);}
.range{background-image: url(../icons/range.png);}
.c1{background-image: url(../icons/c1.png);}
.c2{background-image: url(../icons/c2.png);}
.c3{background-image: url(../icons/c3.png);}
.charge3{background-image: url(../icons/charge3.png);}
