html {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  width:100%;
  height:100%;
  overflow-x: hidden; overflow-y: auto; 
}

body {
  margin: 0;
  padding: 0;
  font-family: "M PLUS 1p";
  font-weight: bold;
  font-size: 3vw;
  color:#666;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width:100%;
  height:100%;
  overflow-x: hidden; overflow-y: auto; 
}
div {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0 0.5em;
}

::-webkit-scrollbar {
  width: 8px;
  height: 4px;
  border-color: #fff;
}

::-webkit-scrollbar-button {
  height: 8px;
  background-color: #ccc;
  border: 2px solid #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

::-webkit-scrollbar-track {
  background-color: #888;
  border: 2px solid #fff;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

#main {
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  overflow-y: scroll;
  background-image:url("");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#main::before{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}
#main.smoke::before{
  background-color: rgba(0,0,0,0.3);
}
#main.mist::before{
  background-color: rgba(255,255,255,0.3);
}
#main.line::before{
  background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.5)),to(transparent));
  background-image: -webkit-linear-gradient(rgba(0,0,0,0.5),transparent);
  background-image: -o-linear-gradient(rgba(0,0,0,0.5),transparent);
  background-image: linear-gradient(rgba(0,0,0,0.5),transparent);
  background-size: 3px;
}
#main.grid::before{
  background-image: -webkit-radial-gradient(rgba(0,0,0,0.5) , transparent);
  background-image: -o-radial-gradient(rgba(0,0,0,0.5) , transparent);
  background-image: radial-gradient(rgba(0,0,0,0.5) , transparent);
  background-size: 3px 3px;
}
#header {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  color:#666;
  background-color:#fff;
  z-index:2;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
}
#control {
  padding: 0.25em 0 0 0;
  opacity: 0.9;
  /*max-width:980px;*/
}
#content {
  padding: 0 0 0.25em 0;
  opacity: 0.9;
}
#footer {
  padding: 3px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color:#fff;
  font-size:50%;
  z-index:2;
  -webkit-box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.5);
}

@media screen and (min-aspect-ratio: 13/9) { /* landscape */
  body{
    font-size: 1.5vw;
  }
  body.withSidebar{
    font-size: 1.2vw;
  }
  #main {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    overflow-y: hidden;
  }
  #control {
    padding: 3px 0 3px 0;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    overflow-y: hidden;
    border-bottom: none;
    margin-right: -0.25em;
    max-width:1920px;
  }
  #content {
    padding: 3px 0 3px 0;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    overflow-y: scroll;
  }
}

#control div{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  margin: 0 0.25em;
  padding: 0.1em 0.25em;
  border-bottom: 1px solid #ccc;
  background-color:#f0f0f0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#control .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
i.exelement {
  width: 100%;
}
#control div.control_wrapper{
  padding: 0;
}
#control div div{
  margin: 0;
}
#control div.control_wrapper div.filter{
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
}
#control div.config_panel{
  background-color:#e0e0e0;
}
#control div.config_bar{
  background-color:#e0e0e0;
}
#control div select#preset, #control div input#wallpaper{
  -webkit-box-flex:2;
      -ms-flex:2;
          flex:2;
}
#control div select, #control div label, #control div input{
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
}
#control #config_theme input {
  width: 3em;
}

input, button, textarea, select, label {
  margin: 0.1em 0.1em;
  background: none;
  background-color: rgba(0,0,0,0.1);
  color:inherit;
  border: none;
  border-radius: 0.1em;
  outline: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  -webkit-appearance: none;
  font-family: "Mplus 1p";
  font-weight: bold;
  
}

button, label {
  padding: 0;
}

input, textarea, select {
  padding: 0.25em;
}

i {
  margin: 0.1em -0.9em;
  padding: 0 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 2em;
  height: 2em;
}
button{
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 80% ;
  background-color: #fff;
  width: 2.5em;
  height: 2.5em;
}

.button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 80% ;
  background-color: #888;
  min-width: 2.5em;
  height: 2.5em;
  cursor: pointer;
}
button:active {
  background-color: #ccc;
}
button:hover {
  -webkit-box-shadow: 0px 0px 3px 0px rgba(255, 192, 64, 0.5);
          box-shadow: 0px 0px 3px 0px rgba(255, 192, 64, 0.5);
}
button.on {
  background-color: #888;
}
input[type="radio"] {
  display: none;
}

label.toggle {
  width: 2em;
  text-align: center;
  cursor: pointer;
  color: #ccc;
  background-color: #888;
  margin: 0.3em 0;
  border-radius: 0px;
}
label.toggle span {
  font-size: 75%;
}

label.toggle.left {
  border-top-left-radius: 0.1em;
  border-bottom-left-radius: 0.1em;
  margin-left: 0.1em;
}

label.toggle.right {
  border-top-right-radius: 0.1em;
  border-bottom-right-radius: 0.1em;
  margin-right: 0.1em;
}

input[type="radio"]:checked+label.toggle {
  color: #666;
  background-color: #fff;
}

input[type="radio"]:checked+label {
  color: #666;
}

input[type="radio"]:disabled+label {
  color: #666 !important;
  background-color: #ccc !important;
}

label.na {
  background-color: #aaa;
}

input[type="radio"]:checked+label.na {
  background-color: #ffffff;
}

label.none {
  background-color: #666;
}

input[type="radio"]:checked+label.none {
  background-color: #ffffff;
}

label.light {
  background-color: #664;
}

input[type="radio"]:checked+label.light {
  background-color: #ff6;
}

label.dark {
  background-color: #546;
}

input[type="radio"]:checked+label.dark {
  background-color: #c6f;
}

label.fire {
  background-color: #644;
}

input[type="radio"]:checked+label.fire {
  background-color: #f66;
}

label.water {
  background-color: #456;
}

input[type="radio"]:checked+label.water {
  background-color: #6cf;
}

label.wind {
  background-color: #464;
}

input[type="radio"]:checked+label.wind {
  background-color: #6f6;
}

label.earth {
  background-color: #604840;
}

input[type="radio"]:checked+label.earth {
  background-color: #ffa060;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked+label {
  background-color: #fff;
}

#content div#ranking {
  display:block;
  outline:0;
}
#content div{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  padding: 0.1em 0.25em;
}

#content .item {
  margin:0.25em 0;
  padding:0;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.5);
}
#content div div.info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  padding: 0;
  color:rgba(0, 0, 0, 0.5);
}
#content .header {
  margin:0;
  padding: 0 0 0 0.25em;
  font-weight: 900;
  background-color: #fff;
}
#content .rank{
  padding: 0em 0.25em;
  background-color: rgba(0,0,0,0.50);
  color: rgba(255,255,255,0.75);
  font-size:150%;
  font-weight: 900;
}
#content i{
  margin: 0.1em 0;
  padding: 0;
  background-size: auto 90%;
}
#content .name{
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  font-size:150%;
  white-space: nowrap;
}
#content .score{
  font-size:150%;
}
#content .detail {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 50%;
  background: #fff;
  border-top: 1px solid #ccc;
}
table {
  margin: 0;
  padding: 0;
  border-spacing: 0;
  width: 100%;
}
tbody {
  margin: 0;
  padding: 0em 0em;
}
tr {
  background-color: #fff;
}
tr:nth-child(even) {
  background-color: #eee;
}
th {
  text-align: right;
  margin: 0;
  padding: 0em 0.5em;
  background-color: #fff;
  width: 10em;
}
th.icon {
  width: 2em;
}
tr {
    word-break: keep-all;
}
tr:nth-child(even) th {
  background-color: #eee;
}
#cname tr:nth-child(even) th, #cname tr th,#cname_en tr:nth-child(even) th, #cname_en tr th{
  background-color: transparent;
}
td {
  margin: 0;
  padding: 0em 0.5em;
  text-align: left;
  border-left: 1px solid #fff;
}

twitterwidget {
  width: 100%!important;
}
.hidden{
  display:none!important;
}

#content div.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 75%;
  padding: 0.1em 0;
  margin: 0 0.333em;
}
#content .help h2 {
  margin: 0.25em 0 0 0;
  padding: 0em 0.25em;
  font-size: 150%;
  background-color: rgba(0, 0, 0, 0.50);
  color: #fff;
}

#content .help p,#content .help div {
  margin: 0;
  padding: 0.5em 1em;
  text-align: justify;
  font-size: 100%;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

#content .help .math,#content .help .sample {
  padding-left: 2em;
  text-align: left;
  background-color: #eee;
}
#content .help .sample{
  display:block;
}
#content .help .sample p{
  padding: 0;
  background-color: transparent;
  border-bottom: none;  
}
#content .help .prm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1em;
  background-color: #eee;
  border-bottom: none;  
}
#content .help var {
  margin: 0.125em 0.25em;
  padding: 0.125em 0.5em;
  background-color: #666;
  color: #fff;
  border-radius: 5px;
  font-style: normal;
  white-space: nowrap;
}

#content .help b {
  margin: 0.125em 0;
  padding: 0.125em 0;
  font-style: normal;
}

#content .help i {
  margin: 0.125em;
  padding: 0;
  font-style: normal;
  width: 2em;
  height: 2em;
  display: block;
}

#content .help dl.tips {
  margin: 0;
  padding: 0;
}

#content .help .tips dt {
  background-color: #fff;
  padding: 0.25em 0.5em 0 0.5em;
  border-top: 0.1em solid #ccc;
  font-size: 120%;
}

#content .help .tips dt.sub {
  padding: 0 0.5em;
  border-top: 0;
  border-bottom: 0.1em solid #ccc;
  font-size: 100%;
}

#content .help .tips dd {
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
  background-color: #eee;
  word-break: break-word;
}
#content .help .tips dd p {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-bottom: 0px;
}

a {
  text-decoration: none;
  color: #864;
}

#content div#rankingevents,#content div#rankingevents_en {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #eee;
  border-bottom: none;  
}

img {
  width:auto;
  height:auto;
  max-width:100%;
  max-height:100%;
}
#content #cheetsheet {
  margin: 0;
  padding: 0;
  background: url("../image/saomd_cheatsheet_box_usage.jpg") no-repeat;
  background-size: contain;
  border-bottom: none;  
}

#cheetsheet:hover {
	background-color: transparent;
}

#cheetsheet:hover img {
    visibility: hidden;
}
#header i.app {
  width: 2em;
  height: 2em;
  border-radius: 2em;
  border: 3px solid #fff;
  background-image: url("../icons/login.gif");
  background-position: 0 0.1em;
  background-size: cover;
  margin: -0.5em 0 -0.5em -0.5em;
  padding: 0;
}

#sidebar{
  z-index: 1;
}